body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dark{
    background-color: black;
}
.container{
    margin: 10px;
    border-radius: 5px;
}
/* .displayMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

                                                    /*Header Nav Buttons*/
.headButtons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: beige; */
}
.modeButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.mode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(150deg);
}
.mode:hover{
    background-color: red;
    
    color: wheat;
}
.headButtons > button{
    background-color: goldenrod;
}
.headButtons > button:hover{
    background-color: thistle;
    color: blue;
}
.navButtons{
    display: flex;
    gap: 20px;
    /* justify-content: flex-end; */
    padding: 0 50px 0 0;
    max-height: fit-content;
}
.navButtons > button{
    background-color: goldenrod;
}
.navButtons > button:hover{
    background-color: thistle;
    color: blue;
}

#admin,#home{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    animation-name: bgColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bgColor{
    form{
        background-color: blue;
    }
    to{
        background-color: red;
    }
}
#admin:hover{
    transform: rotate(360deg);
    transition: all 2s ease-in-out ;
}

                                                            /* About */
.displayMain{
    gap: 30px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 30px;
}
.mainImg{
    margin-top: 30px;
    min-height: 230px;
    min-width: 250px;
    max-height: 500px;
    max-width: 500px;
    align-self: center;
    border-radius: 80px;
    /* background-color: 5px black; */
    padding: 5px;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes changeColor{
    form{
        background-color: gray;
    }
    to{
        background-color: red;
    }
}
.textArea{
    /* padding-top: 50px; */
    max-width: 300px;

    /* background-color: black;
    padding: 10px;
    margin: 10px; */
}

                                                            /* Email */
.credentials{
    /* display: flex;     */
    /* background-color: rebeccapurple; */
    
    /* justify-content: space-between; */
}
.emailForm{
    display: flex;
    flex-direction: column;
    
}
form{
    display: flex;
    flex-direction: column;
    background-color: brown;
    max-width: 360px;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
input{
    max-width: 360px;

    background-color: aqua;
}
.send{
    margin-top: 3px;
    align-self: flex-start;
    background-color: rgb(95, 95, 175);
}
.send:hover{
    background-color: aqua;
}
#download-icon{
    width: 40px;
    height: 40px;
}
.download{
    display: flex;
    align-items: center;
   
}

                                                    /*footer*/
footer{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
   /*  flex-wrap: wrap;
    
    padding: 5px 0 15px 30px;
    background-color: aliceblue;
    align-items: center; */
}
footer > button{
    background-color: darkolivegreen;
}
footer > button:hover{
    background-color: thistle;
    color: blue;
}                                                    
#gh-logo{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
}

                                            /* Universal Tags */
p{
    /* width: 50vw; */
    /* color: burlywood; */
    /* background-color: black; */
}
h1{
    
    
}
h3{
    color: brown;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
}
h4{
    font-size: xx-large;
}
h6{
    width: 100px;
}
h2{
    color: rgb(19, 194, 107);
    /* background-color: black; */
    width: min-content;
    /* padding: 20px; */
}

.display{
    height: 50%;
    margin-bottom: 20px;
}

                                                                /* Technical Blogs */
/* .blog{
    display: flex;
    background-color: aqua;
    width: 80vw;
    margin: 20px 0 0 0px;
    gap: 20px;
    border-radius: 5px;
    padding-left: 5px;
} */
.blog{
    /* background-color: aqua; */
    max-width: 80vw;
    /* display: flex;
    flex-direction: column; */
}
.blogPic{
    max-height: 300px;
    max-width: 300px
    /* align-self: center; */
}
.blog:hover{
    /* background-color: brown; */
    /* transform: translateX(30px );
    transition: transform 500ms ease-out; */
}
/* .blogPic{
    height:  min-content;
    width: 18vw;
    padding: 30px 0 0 0;
} */

                                                            /* Projects*/  
.projectsContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-left: 10px;
   /* flex-wrap: wrap; */
    /* background-color: black; */
    /* height: 543px; */
    /* animation-name: changeColor; */
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeColor{
    form{
        background-color: rgb(235, 191, 126);
    }
    to{
        background-color: rgb(97, 79, 79);
    }
}
.projectPic{
    max-height: 300px;
    max-width: 300px
    /* align-self: center; */
}
.projects{
   /* height: 543px; */
   /* overflow-y: scroll; */
}            
.project1{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}                                                                                                           
.project{
    /* display: flex; */
    /* background-color: aqua; */
    /* margin: 20px 0 0 30px;
    gap: 20px;
    border-radius: 5px;
    padding: 5px; */
}
.project:hover {
    /* background-color: brown; */
    /* transform: translateX(30px );
    transition: transform 500ms ease-out ; */
}
/* .projectText{
    width: 35vw;
} */
/* .blogHeader{
    width: 35vw;
} */

.objectiveText{
    width: fit-content;
}

                                                                    /*Dark Mode*/
.dark p {
    color: aliceblue;
}
.dark ul{
    color: chocolate;
}
.dark h1{
    color: aliceblue;
}
.dark .mode{
    background-color: aliceblue;
}
/* #admin{
    margin-top: 10px;
}
#inputCard{
    height: 200px;
    width: 400px;
    background-color: chartreuse;
    gap: 20px;
}
#cardDetails{
display: flex;
}
#cardHeader{
display: flex;
}
#cardImage{
    display: flex;
}
#cardButton{
    width: min-content;
}
label{
    width: min-content;
} */


