.container{
    margin: 10px;
}
.navButtons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.socialButtons{
    display: flex;
    gap: 20px;
}
.about{
    display: flex;
    background-color: aqua;
    gap: 50px;
    height: 60vh;
    padding-top: 50px;
    padding-left: 200px;
}
.emailForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 20vw;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
}
.send{
    margin-top: 3px;
    align-self: flex-start;
}
p{
    width: 35vw;
}
img{
    margin-top: 30px;
    height: 40vh;
    border-radius: 80px;
}