body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin: 10px;
    /* background-image: url(./113.png); */
    /* background-color: aqua; */
    border-radius: 5px;
}
.navButtons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 15px 50px 0 0;
}
.navButtons > button{
    background-color: goldenrod;
}
.navButtons > button:hover{
    background-color: thistle;
    color: blue;
}
.socialButtons{
    display: flex;
    gap: 20px;
    padding: 0 0 15px 30px;
}
.socialButtons > button{
    background-color: darkolivegreen;
}
.socialButtons > button:hover{
    background-color: thistle;
    color: blue;
}
.about{
    display: flex;
    gap: 50px;
    height: 55vh;
    padding-top: 50px;
    padding-left: 200px;
}
.emailForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 20vw;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
}
.send{
    margin-top: 3px;
    align-self: flex-start;
    background-color: rgb(95, 95, 175);
}
.send:hover{
    background-color: aqua;
}
p{
    width: 35vw;
    color: burlywood;
    background-color: black;
}
.mainImg{
    margin-top: 30px;
    height: 40vh;
    border-radius: 80px;
}
.display{
    height: 543px;
    overflow: auto;
}

.blog{
    display: flex;
    background-color: aqua;
    height: 35vh ;
    width: 70vw;
    margin: 20px 0 0 30px;
    gap: 20px;
    border-radius: 5px;
    padding-left: 5px;
    overflow: hidden;
}
.blog:hover{
    transform: translateX(30px);
    transition: 500ms ease-out;
}
.blogPic{
    height: 25vh;
    /* width: 25vw; */
    padding: 30px 0 0 0;
}
.blogText{
    height: 95px;
}
.navButtons > .projects{
    background-color: antiquewhite;
}